modules = ["python-3.8"]
run = "src/rlc_cloud_repos/main.py"
[nix]
channel = "stable-24_05"
packages = ["libyaml"]

[deployment]
run = ["sh", "-c", "src/rlc_cloud_repos/main.py"]

[workflows]

[[workflows.workflow]]
name = "Run Tests with coverage"
mode = "sequential"
author = 4915123

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pytest --cov"
