modules = ["python-3.8"]
run = "pytest --cov"
[nix]
channel = "stable-24_05"
packages = ["libyaml"]

[workflows]

[[workflows.workflow]]
name = "Run Tests with coverage"
mode = "sequential"
author = 4915123

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pytest --cov"
